@model List<TamilStudentsManagement_Dev.Models.StudentModel>
@{
Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Students</title>
</head>
<body>
    <h1>Students</h1>
    <table>
        <tr>
            <th>Student ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>DOB</th>
            <th>Gender</th>
            
        </tr>
        @foreach (var students in Model)
        {
            <tr>
                <td>@students.Studentid</td>
                <td>@students.FirstName</td>
                <td>@students.LastName</td>
                <td>@students.DateOfBirth</td>
                <td>@students.Gender</td>
            </tr>
        }


    </table>
</body>
</html>